In [1]:
# import libraries and set parameters 

import os
import io
import re
import time
import zipfile 
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import xml.etree.ElementTree as ET
from concurrent.futures import ThreadPoolExecutor 

import dart_fss
import OpenDartReader

API_key = '0d67945133e224c451452e071e0d8349969353e1' 
dart = OpenDartReader(API_key)
dart_fss.set_api_key(API_key)

bsns_year = '2024'
reprt_code = '11011'

# call most recent annual/semi-annual report as quarterly may exclude audit info due to corporate disclosure form preparation standards

Error occurred during getting browser(s): random, but was suppressed with fallback.

In [2]:
dart = OpenDartReader(API_key)
dart_fss.set_api_key(API_key)
print("OpenDart API initialized.")

OpenDart API initialized.

In [3]:
BASE_DATA_DIR = os.path.join('data', 'raw')
os.makedirs(BASE_DATA_DIR, exist_ok=True)
print(f"Ensured raw data directory exists at: {BASE_DATA_DIR}")

Ensured raw data directory exists at: data\raw

In [70]:
def save_df_to_csv(df: pd.DataFrame, file_path: str, index: bool = False):
    os.makedirs(os.path.dirname(file_path), exist_ok=True)
    try:
        df.to_csv(file_path, index=index)
        print(f"DataFrame saved to {file_path}")
    except Exception as e:
        print(f"Error saving DataFrame to CSV {file_path}: {e}")

In [71]:
# get all listed corp codes (keys to access opendart) 
# opendart link: https://engopendart.fss.or.kr/guide/detail.do?apiGrpCd=DE001&apiId=AE00004

def get_corp_code(api_key: str, output_dir: str = BASE_DATA_DIR) -> pd.DataFrame:
    url_code = f'https://opendart.fss.or.kr/api/corpCode.xml?crtfc_key={api_key}'
    response = requests.get(url_code) 

    # check that the target directory exists 
    os.makedirs('dart_data', exist_ok=True)

    # unzip and extract CORPCODE.xml
    with zipfile.ZipFile(io.BytesIO(response.content)) as z:
        z.extractall('dart_data')
        xml_path = os.path.join('dart_data', 'CORPCODE.xml')

    # parse XML
    tree = ET.parse(xml_path)
    root = tree.getroot()

    # collect listed companies (6-digit stock code only)
    corp_list = []
    for corp in root.findall('list'):
        stock_code = corp.findtext('stock_code')
        if stock_code and len(stock_code) == 6:
            corp_list.append({
                'corp_code': corp.findtext('corp_code'),
                'corp_name': corp.findtext('corp_name'),
                'corp_eng_name': corp.findtext('corp_eng_name'),
                'stock_code': stock_code
            })

    corp_codes_df = pd.DataFrame(corp_list)
    output_filepath = os.path.join(output_dir, 'listed_corp_codes.csv')
    save_df_to_csv(corp_codes_df, output_filepath)
    return corp_codes_df

In [72]:
def get_kospi_company_info(api_key: str, corp_codes_df: pd.DataFrame, output_dir: str = BASE_DATA_DIR) -> pd.DataFrame:
    """
    Fetches detailed company information for KOSPI-listed companies from OpenDartReader.
    Filters for corp_cls 'Y' (Yoo-ga-jeung-kwon Market, i.e., KOSPI).
    Saves the results to a CSV file.

    Args:
        dart_reader: An initialized OpenDartReader instance.
        corp_codes_df: DataFrame containing corp_code and other identifiers.
        output_dir: Directory to save the resulting CSV.

    Returns:
        A pandas DataFrame with detailed information for KOSPI companies.
    """
    data = []

    api_endpoint = "https://engopendart.fss.or.kr/engapi/company.json"

    for i, row in corp_codes_df.iterrows():
        corp_code = row['corp_code']
        corp_name = row['corp_name']

        params = {
            'crtfc_key': API_key,
            'corp_code': corp_code
        }
        try:
            response = requests.get(api_endpoint, params=params)
            response.raise_for_status() # Raise HTTPError for bad responses 
            info = response.json()

            # Filter for KOSPI companies ('Y' indicates Yoo-ga-jeung-kwon Market)
            if info and info.get('corp_cls') == 'Y':
                data.append({
                    'corp_name': info.get('corp_name'),
                    'corp_code': info.get('corp_code'),
                    'stock_code': info.get('stock_code'),
                    'ceo_name': info.get('ceo_nm'),
                    'industry_code': info.get('induty_code'),
                    'established_date': info.get('est_dt'),
                    'ir_url': info.get('ir_url'),
                    'corp_reg_number': info.get('jurir_no'), 
                    'business_no': info.get('bizr_no')
                })
            time.sleep(0.01) 
        except Exception as e:
            print(f"Failed to fetch company info for {corp_name} ({corp_code}): {e}")
            continue

    kospi_codes_df = pd.DataFrame(data)
    output_filepath = os.path.join(output_dir, 'kospi_company_info.csv')
    save_df_to_csv(kospi_codes_df, output_filepath)
    return kospi_codes_df

In [73]:
def get_executive_status_data(api_key: str, kospi_codes_df: pd.DataFrame, bsns_year: int, reprt_code: str, output_dir: str = os.path.join('data', 'raw')) -> pd.DataFrame:
    """
    Fetches executive status data for a list of KOSPI corporations from OpenDART API.

    Args:
        api_key: Your OpenDART API key.
        kospi_codes_df: DataFrame containing 'corp_code' and 'corp_name' for KOSPI companies.
        bsns_year: Business year.
        reprt_code: Report code ('11011' for Annual Report, '11012' for Half-Year Report, etc.).
        output_dir: Directory to save the resulting CSV.

    Returns:
        A pandas DataFrame containing combined executive status data for all fetched companies.
    """
    print(f"Fetching executive status data for business year {bsns_year} and report code {reprt_code}...")
    results = []
    api_endpoint = "https://opendart.fss.or.kr/api/exctvSttus.json"
    total_corps = len(kospi_codes_df)

    for idx, row in kospi_codes_df.iterrows():
        corp_code = row['corp_code']
        corp = str(corp_code).zfill(8) # Ensure corp_code is 8-digits, padded with leading zeros
        corp_name = row['corp_name']

        params = {
            'crtfc_key': api_key,
            'corp_code': corp,
            'bsns_year': bsns_year,
            'reprt_code': reprt_code
        }

        try:
            response = requests.get(api_endpoint, params=params)
            response.raise_for_status() # Raise HTTPError for bad responses (4xx or 5xx)
            data = response.json()

            if data['status'] == '000': # Success
                if 'list' in data and data['list']:
                    df = pd.DataFrame(data['list'])
                    results.append(df)
            elif data['status'] == '013':
                # No data available for this corp/year (status 013: No data)
                print(f"No executive data available for {corp_name} ({corp_code}) for {bsns_year}/{reprt_code}.")
            else:
                # Other API errors
                print(f"API Error for {corp_name} ({corp_code}): Status {data.get('status')}, Message: {data.get('message')}")

        except Exception as e:
            print(f"An unexpected error occurred for {corp_name} ({corp_code}): {e}")

        time.sleep(0.7) 

    if results:
        executive_status_df = pd.concat(results, ignore_index=True)
        output_filepath = os.path.join(output_dir, f'executive_status_{bsns_year}_{reprt_code}.csv')
        save_df_to_csv(executive_status_df, output_filepath)
        print(f"\nSuccessfully fetched and saved executive status for {len(executive_status_df)} records.")
        return executive_status_df
    else:
        print("\nNo executive status data was retrieved.")
        return pd.DataFrame()

In [74]:
def get_total_assets(kospi_company_info_df: pd.DataFrame, bsns_year: str, reprt_code: str, API_key: str, output_dir: str = os.path.join('data', 'raw')) -> pd.DataFrame:
    """
    Fetches Total Assets for a list of companies from the DART API.
    It handles two possible account names for Total Assets: "자산총계" and "자산".
    """
    
    api_url = 'https://opendart.fss.or.kr/api/fnlttSinglAcntAll.json'
    TARGET_SJ_DIV = "BS"
    TOTAL_ASSETS_ACCOUNT_NAMES = ["자산총계", "총자산", "자산"] 

    year = int(bsns_year)

    def _fetch_data(corp_code, fs_div):
        """Helper to make an API call and return a DataFrame if successful."""
        params = {'crtfc_key': API_key, 'corp_code': corp_code, 'bsns_year': bsns_year, 'reprt_code': reprt_code, 'fs_div': fs_div}
        try:
            res = requests.get(api_url, params=params)
            res.raise_for_status()
            data = res.json()
            if data.get('status') == '000' and 'list' in data and data['list']:
                return pd.DataFrame(data['list']), fs_div
            else:
                return pd.DataFrame(), None
        except (requests.exceptions.RequestException, ValueError):
            return pd.DataFrame(), None

    def _extract_assets(df, year):
        """Helper to extract assets from a fetched DataFrame."""
        if df.empty:
            return None, None, None, None
        
        # Clean and convert amount columns once
        for col in ['thstrm_amount', 'frmtrm_amount', 'bfefrmtrm_amount']:
            if col in df.columns:
                df[col] = pd.to_numeric(df[col].astype(str).str.replace(',', '', regex=False).replace('-', pd.NA), errors='coerce') 
        
        df['account_nm_cleaned'] = df['account_nm'].str.replace(r'\s+', '', regex=True) # Account for potential whitespace issues (ie. "자  산  총  계" vs "자산총계")

        # Find the first matching row based on the prioritized account names
        total_assets_row = pd.DataFrame()
        for name in TOTAL_ASSETS_ACCOUNT_NAMES:
            total_assets_row = df[(df['sj_div'] == TARGET_SJ_DIV) & (df['account_nm_cleaned'] == name)]
            if not total_assets_row.empty:
                break
        
        if total_assets_row.empty:
            return None, None, None, None
        
        row_data = total_assets_row.iloc[0]
        rcept_no = row_data.get('rcept_no')
        thstrm = row_data.get('thstrm_amount')
        frmtrm = row_data.get('frmtrm_amount')
        bfefrmtrm = row_data.get('bfefrmtrm_amount')
        return rcept_no, thstrm, frmtrm, bfefrmtrm
    
    # Process all companies
    all_results = []
    for corp_code in kospi_company_info_df['corp_code'].apply(lambda c: str(c).zfill(8)):
                
        # Try CFS first, then OFS
        fetched_df, source = _fetch_data(corp_code, 'CFS')
        if fetched_df.empty:
            fetched_df, source = _fetch_data(corp_code, 'OFS')
        
        rcept_no, assets, prior_assets, two_years_ago = _extract_assets(fetched_df, year)
        
        if assets is None:
            print(f"  Total Assets not found for {corp_code}.")

        all_results.append({
            'Corp Code': corp_code,
            'rcept_no': rcept_no,
            f'Total Assets ({year})': assets,
            f'Total Assets ({year - 1})': prior_assets,
            f'Total Assets ({year - 2})': two_years_ago
        })
        time.sleep(0.7)

    assets_df = pd.DataFrame(all_results)
    
    # Final type conversion for all asset columns
    for y_offset in [0, 1, 2]:
        col_name = f'Total Assets ({year - y_offset})'
        if col_name in assets_df.columns:
            assets_df[col_name] = pd.to_numeric(assets_df[col_name], errors='coerce').astype('Int64')

    os.makedirs(output_dir, exist_ok=True)
    output_path = os.path.join(output_dir, f"assets_{bsns_year}_{reprt_code}.csv")
    assets_df.to_csv(output_path, index=False, encoding='utf-8-sig')

    return assets_df

In [75]:
def get_salary_type(kospi_company_info_df: pd.DataFrame, bsns_year: str, reprt_code: str, API_key: str, output_dir: str = os.path.join('data', 'raw')) -> pd.DataFrame:
    """
    Fetches and consolidates salary data for a list of companies from the DART API.
    The data is then saved to a single CSV file.

    Args:
        kospi_company_info_df (pd.DataFrame): DataFrame with 'corp_code' column.
        bsns_year (str): The business year (e.g., '2023').
        reprt_code (str): The report code (e.g., '11011' for Annual Report).
        API_key (str): Your DART API key.
        output_dir (str): The directory to save the output CSV.

    Returns:
        pd.DataFrame: A consolidated DataFrame of all fetched salary data.
    """

    # === Internal Helper Function: DART API JSON request ===
    def _get_json(url, corp_code):
        """Helper to fetch JSON data from DART API and handle errors."""
        params = {
            'crtfc_key': API_key,
            'corp_code': corp_code,
            'bsns_year': bsns_year,
            'reprt_code': reprt_code
        }
        try:
            response = requests.get(url, params=params, timeout=10)
            response.raise_for_status()
            data = response.json()
            
            if data.get('status') != '000' or 'list' not in data:
                if data.get('status') != '000':
                    print(f"DART API Error for {corp_code}: {data.get('message')}")
                return []
            return data['list']
        except Exception as e:
            print(f"Request failed for {url} with params {params}: {e}")
            return []

    # === Internal Helper Function: Fetches data for a single company ===
    def _get_salary_data_for_corp(corp_code):
        """Fetches and consolidates salary data for a single company."""
        endpoints = {
            'individual': 'https://opendart.fss.or.kr/api/hmvAuditIndvdlBySttus.json',
            'unregistered': 'https://opendart.fss.or.kr/api/unrstExctvMendngSttus.json',
            'grouped': 'https://opendart.fss.or.kr/api/drctrAdtAllMendngSttusMendngPymntamtTyCl.json' 
        }
        
        results = []

        # 1. Individual executives (개인별 보수)
        for row in _get_json(endpoints['individual'], corp_code):
            results.append({
                'corp_code': corp_code,
                'name': row.get('nm'),
                'position': row.get('ofcps'),
                'compensation': row.get('mendng_totamt'), 
                'salary_source': '개인별보수',
                'salary_type': 'exact'
            })

        # 2. Unregistered executives (미등기 임원)
        for row in _get_json(endpoints['unregistered'], corp_code):
            results.append({
                'corp_code': corp_code,
                'name': '',
                'position': row.get('se'),
                'compensation': row.get('jan_salary_am'), 
                'salary_source': '미등기임원',
                'salary_type': 'avg_per_person'
            })

        # 3. Grouped executives (임원 전체 보수 유형)
        for row in _get_json(endpoints['grouped'], corp_code):
            results.append({
                'corp_code': corp_code,
                'name': '',
                'position': row.get('se'),
                'compensation': row.get('psn1_avrg_pymntamt'),
                'salary_source': '임원전체보수유형',
                'salary_type': 'avg_per_person'
            })
            
        return pd.DataFrame(results)

    # === Main loop to process all companies ===
    all_salary_data = []

    for corp_code in kospi_company_info_df['corp_code'].apply(lambda c: str(c).zfill(8)):
        df = _get_salary_data_for_corp(corp_code)
        
        if not df.empty:
            all_salary_data.append(df)
        
        # Respect DART API rate limits
        time.sleep(0.7)

    if not all_salary_data:
        print("No salary data was fetched. Returning an empty DataFrame.")
        return pd.DataFrame()
    
    # Concatenate all individual DataFrames into one
    final_df = pd.concat(all_salary_data, ignore_index=True)
    
    # Save the final DataFrame to a CSV file
    os.makedirs(output_dir, exist_ok=True)
    output_path = os.path.join(output_dir, f"salary_data_{bsns_year}_{reprt_code}.csv")
    final_df.to_csv(output_path, index=False, encoding='utf-8-sig')
    
    print(f"Salary data for {len(all_salary_data)} companies saved to: {output_path}")

    return final_df

In [76]:
def get_salary_total(kospi_company_info_df: pd.DataFrame, bsns_year: str, reprt_code: str, API_key: str, output_dir: str = os.path.join('data', 'raw')) -> pd.DataFrame:
    """
    Fetches total salary data for directors and auditors from the DART API
    and saves the consolidated data to a CSV file.

    Args:
        kospi_company_info_df (pd.DataFrame): DataFrame with 'corp_code' column.
        bsns_year (str): The business year (e.g., '2023').
        reprt_code (str): The report code (e.g., '11011' for Annual Report).
        API_key (str): Your DART API key.
        output_dir (str): The directory to save the output CSV.

    Returns:
        pd.DataFrame: A consolidated DataFrame of all fetched salary data.
    """
    url = "https://opendart.fss.or.kr/api/hmvAuditAllSttus.json"

    # === Internal Helper Function: DART API JSON request ===
    def _get_json(url, corp_code):
        params = {
            'crtfc_key': API_key,
            'corp_code': corp_code,
            'bsns_year': bsns_year,
            'reprt_code': reprt_code
        }
        
        try:
            response = requests.get(url, params=params, timeout=10)
            response.raise_for_status()
            data = response.json()
            
            if data.get('status') != '000' or 'list' not in data:
                if data.get('status') != '000':
                    print(f"DART API Error for {corp_code}: {data.get('message')}")
                return []
            return data['list']
    
        except Exception as e:
            print(f"Request failed for {url} with params {params}: {e}")
            return []
        
    salary_total = []
    
    for corp_code in kospi_company_info_df['corp_code'].apply(lambda c: str(c).zfill(8)):
        data_list = _get_json(url, corp_code)

        if data_list:
            df = pd.DataFrame(data_list)
            salary_total.append(df)
        
        # Respect DART API rate limits
        time.sleep(0.7)
    
    if not salary_total:
        print("No salary data was fetched. Returning an empty DataFrame.")
        return pd.DataFrame()
        
    # Concatenate all individual DataFrames into one
    final_df = pd.concat(salary_total, ignore_index=True)
    
    # Save the final DataFrame to a CSV file
    os.makedirs(output_dir, exist_ok=True)
    output_path = os.path.join(output_dir, f"salary_total_data_{bsns_year}_{reprt_code}.csv")
    final_df.to_csv(output_path, index=False, encoding='utf-8-sig')
    
    print(f"Salary data for {len(salary_total)} companies saved to: {output_path}")

In [77]:
def get_major_shareholder_data(api_key: str, kospi_codes_df: pd.DataFrame, bsns_year: int, reprt_code: str, output_dir: str = os.path.join('data', 'raw')) -> pd.DataFrame:
    # pulled from: https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DS002&apiId=2019007
    """
    Fetches major shareholder status data for a list of KOSPI corporations from OpenDART API.

    Args:
        api_key: Your OpenDART API key.
        kospi_codes_df: DataFrame containing 'corp_code' and 'corp_name' for KOSPI companies.
        bsns_year: Business year.
        reprt_code: Report code ('11011' for Annual Report, '11012' for Half-Year Report, etc.).
        output_dir: Directory to save the resulting CSV.

    Returns:
        A pandas DataFrame containing combined major shareholder data for all fetched companies.
    """
    print(f"Fetching major shareholder data for business year {bsns_year} and report code {reprt_code}...")
    results = []
    api_endpoint = "https://opendart.fss.or.kr/api/hyslrSttus.json"
    total_corps = len(kospi_codes_df)

    for idx, row in kospi_codes_df.iterrows():
        corp_code = row['corp_code']
        corp = str(corp_code).zfill(8)
        corp_name = row['corp_name']

        params = {
            'crtfc_key': api_key,
            'corp_code': corp,
            'bsns_year': bsns_year,
            'reprt_code': reprt_code
        }

        try:
            response = requests.get(api_endpoint, params=params)
            response.raise_for_status()
            data = response.json()

            if data['status'] == '000':
                if 'list' in data and data['list']:
                    df = pd.DataFrame(data['list'])
                    results.append(df)
            elif data['status'] == '013':
                print(f"No shareholder data available for {corp_name} ({corp_code}) for {bsns_year}/{reprt_code}.")
            else:
                print(f"API Error for {corp_name} ({corp_code}): Status {data.get('status')}, Message: {data.get('message')}")

        except Exception as e:
            print(f"An unexpected error occurred for {corp_name} ({corp_code}): {e}")

        time.sleep(0.7)

    if results:
        shareholder_df = pd.concat(results, ignore_index=True)
        output_filepath = os.path.join(output_dir, f'major_shareholders_{bsns_year}_{reprt_code}.csv')
        save_df_to_csv(shareholder_df, output_filepath)
        print(f"\nSuccessfully fetched and saved major shareholder data for {len(shareholder_df)} records.")
        return shareholder_df
    else:
        print("\nNo major shareholder data was retrieved.")
        return pd.DataFrame()

In [ ]:
# RUNNING BLOCK 

# 1. Contruct Files: if running for the first time 
all_corp_codes_df = get_corp_code(API_key)
kospi_company_info_df = get_kospi_company_info(api_key=API_key, corp_codes_df=all_corp_codes_df)
kospi_company_info_df["corp_code"] = kospi_company_info_df["corp_code"].astype(str).str.zfill(8)
executive_status_data_df = get_executive_status_data(API_key, kospi_company_info_df, bsns_year, reprt_code) # Execution Time ~ 11 minutes 
assets_df = get_total_assets(kospi_company_info_df, bsns_year, reprt_code, API_key)
salary_total = get_salary_total(kospi_company_info_df, bsns_year, reprt_code, API_key)
major_shareholder_df = get_major_shareholder_data(API_key, kospi_company_info_df, bsns_year, reprt_code) # Execution Time ~ 11 minutes 


# Total Execution Time: 49 minutes

DataFrame saved to data\raw\listed_corp_codes.csv
DataFrame saved to data\raw\kospi_company_info.csv
Fetching executive status data for business year 2024 and report code 11011...
No executive data available for 미래에셋맵스 아시아퍼시픽 부동산공모 1호 투자회사 (00600013) for 2024/11011.
No executive data available for 맥쿼리한국인프라투융자회사 (00435297) for 2024/11011.
No executive data available for 한국투자ANKOR유전해외자원개발특별자산투자회사1호(지분증권) (00907013) for 2024/11011.
No executive data available for 케이비발해인프라투융자회사 (01880801) for 2024/11011.
No executive data available for 주식회사 대신밸류리츠위탁관리부동산투자회사 (01885222) for 2024/11011.
No executive data available for 대한조선 주식회사 (00182696) for 2024/11011.
DataFrame saved to data\raw\executive_status_2024_11011.csv

Successfully fetched and saved executive status for 15082 records.
  Total Assets not found for 00600013.
  Total Assets not found for 00435297.
  Total Assets not found for 00907013.
  Total Assets not found for 01880801.
  Total Assets not found for 00112998.
  Total Assets not found for 01885222.
  Total Assets not found for 00182696.
DART API Error for 00600013: 조회된 데이타가 없습니다.
DART API Error for 00435297: 조회된 데이타가 없습니다.
DART API Error for 00907013: 조회된 데이타가 없습니다.
DART API Error for 01880801: 조회된 데이타가 없습니다.
DART API Error for 01885222: 조회된 데이타가 없습니다.
DART API Error for 00182696: 조회된 데이타가 없습니다.
Salary data for 844 companies saved to: data\raw\salary_total_data_2024_11011.csv
Fetching major shareholder data for business year 2024 and report code 11011...
No shareholder data available for 미래에셋맵스 아시아퍼시픽 부동산공모 1호 투자회사 (00600013) for 2024/11011.
No shareholder data available for 맥쿼리한국인프라투융자회사 (00435297) for 2024/11011.
No shareholder data available for 한국투자ANKOR유전해외자원개발특별자산투자회사1호(지분증권) (00907013) for 2024/11011.
No shareholder data available for 케이비발해인프라투융자회사 (01880801) for 2024/11011.
No shareholder data available for 주식회사 대신밸류리츠위탁관리부동산투자회사 (01885222) for 2024/11011.
No shareholder data available for 대한조선 주식회사 (00182696) for 2024/11011.
DataFrame saved to data\raw\major_shareholders_2024_11011.csv

Successfully fetched and saved major shareholder data for 9102 records.

In [78]:
# 2. Read in Files: if run before, read in the files 
all_corp_codes_df = pd.read_csv(r'C:\Program Files\Git\OPENDART\governance_scoring_proj\notebooks\data\raw\listed_corp_codes.csv')
kospi_company_info_df = pd.read_csv(r'C:\Program Files\Git\OPENDART\governance_scoring_proj\notebooks\data\raw\kospi_company_info.csv')
executive_status_data_df = pd.read_csv(r'C:\Program Files\Git\OPENDART\governance_scoring_proj\notebooks\data\raw\executive_status_2024_11011.csv')
assets_df = pd.read_csv(r'C:\Program Files\Git\OPENDART\governance_scoring_proj\notebooks\data\raw\assets_2024_11011.csv')
salary_total_df = pd.read_csv(r'C:\Program Files\Git\OPENDART\governance_scoring_proj\notebooks\data\raw\salary_total_data_2024_11011.csv')
major_shareholder_df = pd.read_csv(r'C:\Program Files\Git\OPENDART\governance_scoring_proj\notebooks\data\raw\major_shareholders_2024_11011.csv')

In [ ]:
# include comments on how to test / read in individual financial statements

KeyboardInterrupt:

In [ ]:
'''  
08/02 TODO: 
# financials: because it's not the same format and doesn't indicate when 'net' income is loss or profit, only within the summary financial information sheet -> check through scraping 

- complete data extraction 
    - make sure that financial metrics is pulling correctly: should have complete data from ALL 
    - check that major shareholder status + is being pulled correcting 
- work on pre-processing 
    - with new financials, recheck audit committee requirement check 
    - audit committee corrections 
    - tenure standardization 
    - background parsing 
    - remove '/n' lines from all exec info 

- over next week: scoring/pre-processing 

'''

# instead of columns, print flags 
# column of audit committee flag type: 
    # 1 - assets over 2 trillion won but no audit committee listed 
    # 2 - failed audit committee requirement check
    # 3 - audit committee was updated from executive disclosure (ie individuals weren't identified as AC members though required to have one, so relies on business report to update)
# for the audit check: parse on corporation level. for those that were updated, mark from where 
# notes section: audit committee was not listed in executive disclosure and instead updated from financials. 
# for individual: individual was not listed under executive disclosure as an audit committee but detected in business report as so 
# audit committee was not listed for this corporation though required to 

'''
Documentation Format: 
- the produced data frames
- the full code and explaining decision processes (ie why est/exact for salary, the flags for audit committee, assets check from 2 years ago), what columns were droppped, etc 

Proposed Next Steps:

Useful OpenDART links: 
- https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DE004&apiId=AE00041 Ownership change (most recent data)
'''

'\nDocumentation Format: \n- the produced data frames\n- the full code and explaining decision processes (ie why est/exact for salary, the flags for audit committee, assets check from 2 years ago), what columns were droppped, etc \n\nProposed Next Steps:\n\nUseful OpenDART links: \n- https://opendart.fss.or.kr/guide/detail.do?apiGrpCd=DE004&apiId=AE00041 Ownership change (most recent data)\n'

In [ ]:
# FIX: 
# pass through the list of corp codes from kospi_company_info_df
# to get the urls with opendart reader, it requires the disclosure number (rcept_no) which is currently only available in the executive status data 
# scrape the summary and audit urls for financial data (assets) for the past 3 years, and the audit committee members

# produce two csv files: one for financial metrics and one for audit committee members

In [ ]:
# pulling from opendart sub docs requires the disclosure number (rcept_no) which is currently only available in the executive status data

In [27]:
executive_status_data_df[executive_status_data_df['corp_code'] == 102858]['rcept_no'].values[0]

np.int64(20250331003521)

In [49]:
dart.finstate('00126380,00164779,00164742', 2021).head(2)

,rcept_no,reprt_code,bsns_year,corp_code,stock_code,fs_div,fs_nm,sj_div,sj_nm,account_nm,...,thstrm_dt,thstrm_amount,frmtrm_nm,frmtrm_dt,frmtrm_amount,bfefrmtrm_nm,bfefrmtrm_dt,bfefrmtrm_amount,ord,currency
0,20220308000798,11011,2021,00126380,005930,CFS,연결재무제표,BS,재무상태표,유동자산,...,2021.12.31 현재,"218,163,185,000,000",제 52 기,2020.12.31 현재,"198,215,579,000,000",제 51 기,2019.12.31 현재,"181,385,260,000,000",1,KRW
1,20220308000798,11011,2021,00126380,005930,CFS,연결재무제표,BS,재무상태표,비유동자산,...,2021.12.31 현재,"208,457,973,000,000",제 52 기,2020.12.31 현재,"180,020,139,000,000",제 51 기,2019.12.31 현재,"171,179,237,000,000",3,KRW

In [49]:
exec_df = corp_df.drop(columns=['corp_cls', 'birth_ym', 'fte_at', 'tenure_end_on', 'stlm_dt'], errors='ignore')

exec_df = exec_df.rename(columns={
    'rcept_no': 'Disclosure',
    'corp_name': 'Company',
    'corp_code': 'Corp Code',
    'nm': 'Name',
    'sexdstn': 'Gender',
    'ofcps': 'Position',
    'rgist_exctv_at': 'Registered Officer Status',
    'chrg_job': 'Responsibilities',
    'main_career': 'Professional Background',
    'mxmm_shrholdr_relate': 'Shareholder Relation',
    'hffc_pd': 'Period of employment'
})

In [9]:
kospi_codes['corp_code'] = kospi_codes['corp_code'].astype(str).str.zfill(8)
exec_df['Corp Code'] = exec_df['Corp Code'].astype(str).str.zfill(8)

company_df_unique = kospi_codes[['corp_code', 'industry_code']].drop_duplicates(subset='corp_code')

exec_df = exec_df.merge(
    company_df_unique,
    left_on='Corp Code',
    right_on='corp_code',
    how='left'
)

exec_df.drop(columns='corp_code', inplace=True)

In [ ]:
# --- OPENDART LOAD IN: UPDATE with most recent executive status report --- 
# exec_df2 = pd.read_excel('C:\Program Files\Git\OPENDART\.vscode\BusinessReport(Executive status_2025_First Quarterly).xls')
# exec_df['Total'] = exec_df.groupby('Item code')['Item code'].transform('count')
# exec_df.to_csv('kospi_exec_df.csv', index=False)

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Owner\AppData\Local\Temp\ipykernel_4884\3008533803.py:2: SyntaxWarning: invalid escape sequence '\P'
  exec_df = pd.read_excel('C:\Program Files\Git\OPENDART\.vscode\BusinessReport(Executive status_2025_First Quarterly).xls')

SECTION 2: Categorize and Split into Individual/Grouped Data

The below functions produce: 
    1. updated exec_df 
        with additional columns reflecting audit committee member/auditor status 
    2. individual_df 
        dataframe of each individual executive's information (professional background info to be added)
    3. summary_df 
        grouped dataframe by company, summing across all category types

In [ ]:
# --- 1. Indivualized Dataframe where each row represents a unique executive --- 

# from the original exec_df dataframe, identify members of the audit committee and auditors 

# because audit committee member can also be extracted from the corrected executive data: update such that it also clears afterwards 

def is_audit_committee_member(responsibility, position):

    responsibility_cleaned = re.sub(r'\s', '', responsibility)
    
    return bool(re.search(r'감사위원회위원|감사위원|감사위원장', responsibility_cleaned)) 

def is_auditor_exclusive(responsibility, position): #isolated capture to not overlap with is_audit_committee_member
    if is_audit_committee_member(responsibility, position):
        return False
    
    responsibility_check = False
    if isinstance(responsibility, str):
        responsibility_cleaned = re.sub(r'\s', '', responsibility)

        responsibility_check = '감사' in responsibility_cleaned and not re.search(r'감사위원회위원|감사위원', responsibility_cleaned) 
    position_check = False 


    return responsibility_check or position_check

# apply updated audit membership 
exec_df['is_audit_committee_member'] = exec_df.apply(
    lambda row: is_audit_committee_member(row['Responsibilities'], row['Registered Officer Status']), axis=1
)

exec_df['is_auditor'] = exec_df.apply(
    lambda row: is_auditor_exclusive(row['Responsibilities'], row['Registered Officer Status']), axis=1
)

# build the individual-level dataframe

Constructing summary_df of grouped data by corp

In [ ]:
exec_df.to_csv('exec_df', index = False)

# fix exec_df and save such that each individual is checked for audit committee membership before saving and reading into parsing notebook

In [30]:
# --- 2. Grouped summary dataframe where each row represents a corporation --- 

def extract_summary(group):
    voting_directors_group = group[~group['Registered Officer Status'].isin(['미등기', '감사'])]

    female_voting = (voting_directors_group['Gender'] == '여').sum()
    male_voting = (voting_directors_group['Gender'] == '남').sum()
    
    return pd.Series({
        
        # total counts for all individuals 
        'Audit Committee': group['is_audit_committee_member'].sum(),
        'Audit Committee Outside Directors': ((group['is_audit_committee_member'] == True) & (group['Registered Officer Status'] == '사외이사')).sum(),
        'Inside Directors': group['Registered Officer Status'].isin(['사내이사', '대표집행임원']).sum(),
        'Outside Directors': (group['Registered Officer Status'] == '사외이사').sum(),
        'Other Non Exec Directors': (group['Registered Officer Status'] == '기타비상무이사').sum(),
        'Auditors': group['is_auditor'].sum(),
        
        # counts for Voting Directors subset
        'Female Voting': female_voting,
        'Male Voting': male_voting,
        'Voting Directors': female_voting + male_voting,

        # count for Non-Registered (separate)
        'Non Registered': (group['Registered Officer Status'] == '미등기').sum()
    })


# merge with kospi_codes to append corp_code, required for financial statment search in next section 
# Item code and stock_code are interchangeable 
summary_df = exec_df.groupby(['Company', 'Corp Code', 'Disclosure']).apply(extract_summary).reset_index()
summary_df

C:\Users\Owner\AppData\Local\Temp\ipykernel_22320\274098007.py:31: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  summary_df = exec_df.groupby(['Company', 'Corp Code', 'Disclosure']).apply(extract_summary).reset_index()

,Company,Corp Code,Disclosure,Audit Committee,Audit Committee Outside Directors,Inside Directors,Outside Directors,Other Non Exec Directors,Auditors,Female Voting,Male Voting,Voting Directors,Non Registered
0,AJ네트웍스,00365387,20250325000220,0,0,3,2,1,1,0,6,6,12
1,AK홀딩스,00125080,20250318001263,3,3,4,3,1,0,1,7,8,1
2,BGF,00219097,20250318001407,0,0,2,2,0,1,0,4,4,0
3,BGF리테일,01263022,20250318000733,3,3,2,5,0,0,1,6,7,0
4,BNK금융지주,00858364,20250318001176,4,4,1,7,0,1,1,7,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,휴니드테크놀러지스,00111421,20250310000706,0,0,3,1,0,1,0,4,4,16
867,휴비스,00362238,20250317000508,0,0,1,3,2,0,0,6,6,9
868,휴스틸,00156488,20250318001178,3,3,3,3,1,0,0,7,7,9
869,흥국화재,00103176,20250320001444,3,3,3,4,0,3,0,7,7,19
870,흥아해운,00167208,20250317000787,0,0,3,2,0,1,0,5,5,0

In [ ]:
summary_df['Disclosure'] = summary_df['Disclosure'].astype(str)
summary_df = summary_df.drop_duplicates(subset='Corp Code', keep='first')

In [13]:
search_list = summary_df['Corp Code']

In [14]:
# Assets Check: For each KOSPI corporation, check whether their total assets exceed the $2T minimum for a required audit committee 
# execution time ~ 11 minutes 
asset_year_int = int(asset_year)

search_list = summary_df['Corp Code'].astype(str) # define the list of corp_codes that we need to search, which dart/finstate requires as str type 

assets_info = []

for code in search_list: 
    code_str = str(code).zfill(8) # format corp code as an 8-digit string, add leading 0s where needed 

    # call the dart_finstate function for the current company
    url = 'https://engopendart.fss.or.kr/engapi/fnlttSinglAcntAll.json'

    # Try CFS first
    cfs_params = {
        'crtfc_key': API_key,
        'corp_code': code_str,
        'bsns_year': asset_year_int,
        'reprt_code': reprt_code,
        'fs_div': 'CFS'
    }

    ofs_params = cfs_params.copy()
    ofs_params['fs_div'] = 'OFS'

    res = requests.get(url, params=cfs_params)

    # If CFS fails or returns no usable data, fallback to OFS
    if not res.ok or res.json().get('status') != '000' or not res.json().get('list'):
        res = requests.get(url, params=ofs_params)
        source = 'OFS'
    else:
        source = 'CFS'

    data = res.json()

    if data['status'] != '000':
        print(f"Error: {data['message']}")
    else:
        df = pd.DataFrame(data['list'])
        total_assets_row = df[(df['sj_div'] == 'BS') & (df['account_nm'] == '자산총계')]

        if not total_assets_row.empty:
            total_assets = total_assets_row.iloc[0]['thstrm_amount']
            assets_info.append({
                'Corp Code': code,
                'Total Assets': total_assets})
        else:
            print(f"No financial statement data retrieved for corp code {code_str} or API error.")
    
    time.sleep(0.7) 

assets_df = pd.DataFrame(assets_info)
assets_df['Total Assets'] = (
    assets_df['Total Assets']
    .str.replace(',', '', regex=False)  # remove commas
    .astype('Int64')                    # convert to nullable integer for consistent formatting 
)

No financial statement data retrieved for corp code 00109693 or API error.
Error: No data viewed.
Error: No data viewed.
Error: No data viewed.
No financial statement data retrieved for corp code 00356361 or API error.
No financial statement data retrieved for corp code 00139889 or API error.
Error: No data viewed.
No financial statement data retrieved for corp code 00113492 or API error.
Error: No data viewed.
Error: No data viewed.
No financial statement data retrieved for corp code 00118026 or API error.
No financial statement data retrieved for corp code 00113562 or API error.
No financial statement data retrieved for corp code 01258507 or API error.
No financial statement data retrieved for corp code 00165413 or API error.
No financial statement data retrieved for corp code 00122694 or API error.
Error: No data viewed.
No financial statement data retrieved for corp code 00896285 or API error.
Error: No data viewed.
Error: No data viewed.
Error: No data viewed.
Error: No data viewed.
Error: No data viewed.
No financial statement data retrieved for corp code 00105855 or API error.
Error: No data viewed.
No financial statement data retrieved for corp code 00141307 or API error.
No financial statement data retrieved for corp code 00141273 or API error.
Error: No data viewed.
No financial statement data retrieved for corp code 00296290 or API error.
No financial statement data retrieved for corp code 01060744 or API error.
Error: No data viewed.
No financial statement data retrieved for corp code 00126566 or API error.
No financial statement data retrieved for corp code 00362441 or API error.

In [15]:
summary_df['Corp Code'] = summary_df['Corp Code'].astype(str).str.zfill(8)
assets_df['Corp Code'] = assets_df['Corp Code'].astype(str).str.zfill(8)

summary_df = summary_df.merge(
    assets_df[['Corp Code', 'Total Assets']],
    on='Corp Code',
    how='left'
)

C:\Users\Owner\AppData\Local\Temp\ipykernel_22320\4101341160.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary_df['Corp Code'] = summary_df['Corp Code'].astype(str).str.zfill(8)

In [ ]:
# for the committee check, 

# dissonance

In [16]:
def check_governance_compliance(df):
    """
    Evaluates governance compliance based on board and audit committee rules.
    Returns:
        pd.DataFrame with flagged issues for non-compliant companies.
    """
    flagged = []

    for index, row in df.iterrows():
        corp_code = row['Corp Code']
        total_assets = row['Total Assets']
        num_audit_committee = row['Audit Committee']
        num_outside_directors = row['Outside Directors']
        num_voting_directors = row['Voting Directors']
        num_outside_committee = row['Audit Committee Outside Directors']

        failures = []

        # Check audit committee compliances
        if pd.notna(total_assets) and total_assets > 2_000_000_000_000:
            if pd.isna(num_audit_committee) or num_audit_committee == 0:
                failures.append("No Audit Committee listed")
            elif num_audit_committee < 3:
                failures.append(f"Audit Committee has fewer than 3 members ({num_audit_committee})")

            if pd.notna(num_audit_committee) and num_audit_committee > 0:
                if pd.isna(num_outside_committee):
                    failures.append("Missing count of Audit Committee Outside Directors.")
                elif num_outside_committee < (2/3) * num_audit_committee:
                    failures.append(f"Audit Committee Outside Directors ({num_outside_committee}) < 2/3 of Audit Committee ({num_audit_committee})")
            if num_outside_directors < (1/4) * num_voting_directors:
                failures.append(f"Outside Directors ({num_outside_directors}) < 1/4 of Voting Directors ({num_voting_directors})")

        if failures:
            flagged.append({'Corp Code': corp_code, 'Flagged Conditions': "; ".join(failures)})

    failed_df = pd.DataFrame(flagged)
    failed_df['Corp Code'] = failed_df['Corp Code'].astype(str).str.zfill(8)

    # Merge with original data
    return pd.merge(failed_df, df, on='Corp Code', how='inner')

flagged = check_governance_compliance(summary_df) 

# 101 flagged

In [ ]:
# for corp listed in summary_df, pull a list of unreported corps (where audit committee = 0) 
# and parse through each of their subdocs using their disclosure number. the goal is, for each that has not reported their audit committee to 
# go through a more rigorous check through the 'VI. 이사회 등 회사의 기관에 관한 사항' report and update the summary_df with the findings on audit committee members, 
# specifically how large the committee is and how much of it is composed of outside directors 

# opendart reader documentation for subdocs: 
# 7. 확장 기능 of https://nbviewer.org/github/FinanceData/OpenDartReader/blob/master/docs/OpenDartReader_users_guide.ipynb

# excecution time: ~1 min

def missing_acm_urls(flagged_df):
    results = []

    for idx, row in flagged_df.iterrows():
        company = row['Company']
        corp = row['Corp Code']
        rcp = row['Disclosure']
        assets = row['Total Assets']

        try:
            subdocs = dart.sub_docs(str(rcp))  # rcept_no must be string
            match = subdocs[subdocs['title'].str.contains("이사회 등 회사의 기관에 관한 사항")]

            if not match.empty:
                url = match.iloc[0]['url']
            else:
                url = None

        except Exception as e:
            print(f"Failed to fetch for {corp} ({rcp}): {e}")
            url = None

        results.append({
            'corp_code': str(corp),
            'company': company,
            'rcept_no': rcp,
            'url': url,
            'assets': assets
        })

        time.sleep(0.7)

    return pd.DataFrame(results)

# 3. Retrieve target audit committee document URLs for flagged cases
audit_targets_df = missing_acm_urls(flagged).drop_duplicates(subset=['corp_code'])
audit_targets_df

,corp_code,company,rcept_no,url,assets
0,00219097,BGF,20250318001407,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...,2171266453121
1,00303873,CJ CGV,20250321001474,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...,3194214710432
2,00115694,DB증권,20250317000605,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...,10211959858311
3,00116949,DN오토모티브,20250313001452,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...,4567386501437
4,01437186,ESR켄달스퀘어리츠,20241031000319,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...,2343918337381
...,...,...,...,...,...
72,00148610,한화투자증권,20250311001013,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...,13250183608173
73,00164478,현대건설,20250312001136,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...,23714495000000
74,00145880,현대제철,20250317000668,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...,35218841930044
75,00117188,효성,20250313001006,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...,5088858301845
76,01316236,효성화학,20250312001129,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...,3115610852602

In [ ]:
# TO DO: fix so that it pulls info from the immediate table following:  <p>가. 감사위원 현황</p>
# <span style="font-family:DartNBSP, &quot;바탕&quot;, Batang;font-size:12pt;line-height:1.6em;font-weight:bold;color:#000000;">가. 감사위원 현황<br></span>

# make sure its not drawing from another table ie not captured in flags but incorrect count nonetheless 

# fix the structure of this notebook 

# also make sure that they're extracting names properly ie print out some examples and cross check manually

In [18]:
# execution time ~ 2 minutes 

def parse_and_update_audit_members(audit_targets_df, exec_df, summary_df):
    updated_count = 0
    summary_updates = {}

    for idx, row in audit_targets_df.iterrows():
        corp_code = row['corp_code']
        company = row['company']
        url = row['url']
        rcept_no = row['rcept_no']

        if pd.isna(url) or not isinstance(url, str):
            continue

        try:
            response = requests.get(url, timeout=20)
            response.raise_for_status()
            soup = BeautifulSoup(response.content, 'html.parser')

            anchor = soup.find('a', attrs={'name': 'toc3'}, string='2. 감사제도에 관한 사항')
            anchor_p = anchor.find_parent('p') if anchor else None

            table = None
            candidate = anchor_p.find_next_sibling() if anchor_p else None

            while candidate:
                if candidate.name == 'table':
                    header_rows = []
                    for tr in candidate.find_all('tr'):
                        ths = tr.find_all('th')
                        if len(ths) == 1 and ths[0].has_attr('colspan'):
                            continue
                        header_rows.append(tr)
                        if len(header_rows) >= 2:
                            break

                    if len(header_rows) < 2:
                        candidate = candidate.find_next_sibling()
                        continue

                    headers = []
                    for tr in header_rows:
                        headers.extend([
                            th.get_text(strip=True).replace('\xa0', '').replace('\n', '')
                            for th in tr.find_all(['th', 'td'])
                        ])

                    name_idx = next((i for i, h in enumerate(headers) if '성명' in h), None)
                    outside_idx = next((i for i, h in enumerate(headers) if '사외이사' in h), None)

                    if name_idx is not None and outside_idx is not None:
                        table = candidate
                        break

                candidate = candidate.find_next_sibling() # iterate to the next table

            if table:
                members = []
                data_rows = table.find_all('tbody')[0].find_all('tr') if table.find('tbody') else table.find_all('tr')[len(header_rows):]

                for tr in data_rows:
                    tds = tr.find_all(['td', 'th'])
                    if len(tds) <= max(name_idx, outside_idx):
                        continue

                    name = tds[name_idx].get_text(strip=True)
                    is_outside = tds[outside_idx].get_text(strip=True)

                    if not name or name == '-' or not is_outside or is_outside == '-':
                        continue

                    is_outside_flag = '예' in is_outside or 'O' in is_outside
                    members.append((name, is_outside_flag))

                    mask = (
                        (exec_df['Corp Code'] == corp_code) &
                        (exec_df['Name'] == name)
                    )
                    if not exec_df.loc[mask].empty:
                        exec_df.loc[mask, 'is_audit_committee_member'] = True
                        updated_count += 1

                total_members = len(members)
                outside_members = sum(1 for _, flag in members if flag)

                if total_members == 1 and outside_members == 0:
                    total_members = 0
                    outside_members = 0

                if total_members > 0:
                    summary_updates[corp_code] = {
                        'Audit Committee': total_members,
                        'Audit Committee Outside Directors': outside_members
                    }
                    print(f"Updated {corp_code} - {company} - {rcept_no} - {summary_updates[corp_code]}")
                else:
                    summary_updates[corp_code] = {
                        'Audit Committee': 0,
                        'Audit Committee Outside Directors': 0
                    }
                    print(f"{corp_code} - {company} - {rcept_no}: Valid table found but no valid members.")

            else:
                print(f"{corp_code} - {company} - {rcept_no}: No valid audit committee table found.")

        except Exception as e:
            print(f"Exception occurred for {corp_code} - {company}: {e}")

        time.sleep(1.5)

    for corp_code, update in summary_updates.items():
        summary_df.loc[summary_df['Corp Code'] == corp_code, 'Audit Committee'] = update['Audit Committee']
        summary_df.loc[summary_df['Corp Code'] == corp_code, 'Audit Committee Outside Directors'] = update['Audit Committee Outside Directors']

    return exec_df, summary_df

exec_df_updated, summary_df_updated = parse_and_update_audit_members(audit_targets_df, exec_df, summary_df)

00219097 - BGF - 20250318001407: No valid audit committee table found.
Updated 00303873 - CJ CGV - 20250321001474 - {'Audit Committee': 4, 'Audit Committee Outside Directors': 4}
Updated 00115694 - DB증권 - 20250317000605 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
00116949 - DN오토모티브 - 20250313001452: No valid audit committee table found.
01437186 - ESR켄달스퀘어리츠 - 20241031000319: Valid table found but no valid members.
Updated 01568413 - F&F - 20250318001144 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00500254 - GS - 20250318001410 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 01310269 - HDC현대산업개발 - 20250318000895 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00164830 - HD한국조선해양 - 20250318001131 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 01390344 - HD현대중공업 - 20250318000897 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 01316254 - HS효성첨단소재 - 20250312001093 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
00101220 - KG케미칼 - 20250320001653: No valid audit committee table found.
Updated 00139834 - LG씨엔에스 - 20250311001270 - {'Audit Committee': 4, 'Audit Committee Outside Directors': 4}
Updated 00503668 - LIG넥스원 - 20250321002001 - {'Audit Committee': 4, 'Audit Committee Outside Directors': 4}
Updated 00120182 - NH투자증권 - 20250313000770 - {'Audit Committee': 2, 'Audit Committee Outside Directors': 2}
00125150 - SGC에너지 - 20250312001090: No valid audit committee table found.
01535150 - SK리츠 - 20240612000397: Valid table found but no valid members.
Updated 00159023 - SK텔레콤 - 20250317000684 - {'Audit Committee': 4, 'Audit Committee Outside Directors': 4}
00225159 - SNT홀딩스 - 20250220001567: No valid audit committee table found.
Updated 00255619 - 강원랜드 - 20250318001106 - {'Audit Committee': 2, 'Audit Committee Outside Directors': 2}
Updated 00102432 - 계룡건설산업 - 20250318001013 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00113359 - 교보증권 - 20250313000901 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
00149646 - 기업은행 - 20250318001325: No valid audit committee table found.
00108135 - 녹십자홀딩스 - 20250318001422: No valid audit committee table found.
Updated 00108241 - 농심 - 20250312000711 - {'Audit Committee': 4, 'Audit Committee Outside Directors': 4}
00176914 - 다우기술 - 20250318001202: No valid audit committee table found.
Updated 00121941 - 대상 - 20250321000555 - {'Audit Committee': 4, 'Audit Committee Outside Directors': 4}
00539274 - 대상홀딩스 - 20250319001086: No valid audit committee table found.
00111810 - 대웅 - 20250401003907: Valid table found but no valid members.
Updated 00260383 - 대한유화 - 20250306000568 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
00114792 - 동국홀딩스 - 20250318001457: Valid table found but no valid members.
00340917 - 동원F&B - 20250318001158: Valid table found but no valid members.
Updated 00545716 - 롯데렌탈 - 20250314001522 - {'Audit Committee': 2, 'Audit Committee Outside Directors': 2}
01363818 - 롯데리츠 - 20240902000317: Valid table found but no valid members.
00113997 - 롯데에너지머티리얼즈 - 20250314001597: No valid audit committee table found.
Updated 00195229 - 미스토홀딩스 - 20250321001837 - {'Audit Committee': 2, 'Audit Committee Outside Directors': 0}
Updated 00126308 - 삼성E&A - 20250312001103 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00877059 - 삼성바이오로직스 - 20250306000580 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00104856 - 삼성증권 - 20250306000628 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00126937 - 삼양홀딩스 - 20250320000941 - {'Audit Committee': 4, 'Audit Committee Outside Directors': 4}
Updated 00112059 - 상상인증권 - 20250318001083 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00106669 - 세아베스틸지주 - 20250318000465 - {'Audit Committee': 4, 'Audit Committee Outside Directors': 4}
00124197 - 세아제강지주 - 20250317000708: No valid audit committee table found.
00377610 - 세아홀딩스 - 20250314001645: No valid audit committee table found.
00138701 - 아세아 - 20250312000788: No valid audit committee table found.
00990165 - 아세아시멘트 - 20250320001240: No valid audit committee table found.
Updated 00138792 - 아시아나항공 - 20250318000756 - {'Audit Committee': 4, 'Audit Committee Outside Directors': 4}
Updated 00115977 - 아이에스동서 - 20250319001050 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00854997 - 에스디바이오센서 - 20250318001095 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00261443 - 엔씨소프트 - 20250328002285 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00398701 - 엘앤에프 - 20250311001260 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
00140964 - 영원무역홀딩스 - 20250321001884: Valid table found but no valid members.
Updated 00117577 - 오리온홀딩스 - 20250318000980 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00131054 - 유진증권 - 20250318000789 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00145109 - 유한양행 - 20250312001137 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
01415892 - 제이알글로벌리츠 - 20240913000664: Valid table found but no valid members.
00148276 - 제일기획 - 20250311000974: Valid table found but no valid members.
Updated 00159698 - 지역난방공사 - 20250327000192 - {'Audit Committee': 2, 'Audit Committee Outside Directors': 2}
Updated 01133217 - 카카오뱅크 - 20250411001905 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00113191 - 코리안리 - 20250331003380 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
00152862 - 코오롱 - 20250318001402: Valid table found but no valid members.
00203315 - 콘텐트리중앙 - 20250320001749: No valid audit committee table found.
Updated 00153861 - 태영건설 - 20250319000934 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00261285 - 한국가스공사 - 20250325000742 - {'Audit Committee': 2, 'Audit Committee Outside Directors': 2}
00939331 - 한국콜마 - 20250318001173: No valid audit committee table found.
Updated 00937324 - 한국타이어앤테크놀로지 - 20250318001355 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00161976 - 한세예스24홀딩스 - 20250318001443 - {'Audit Committee': 4, 'Audit Committee Outside Directors': 4}
00162063 - 한신공영 - 20250320000724: No valid audit committee table found.
00162993 - 한일홀딩스 - 20250318001319: No valid audit committee table found.
Updated 00983040 - 한진칼 - 20250318001316 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00113058 - 한화생명 - 20250331003702 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00339391 - 한화시스템 - 20250314001773 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00148610 - 한화투자증권 - 20250311001013 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 00164478 - 현대건설 - 20250312001136 - {'Audit Committee': 4, 'Audit Committee Outside Directors': 4}
Updated 00145880 - 현대제철 - 20250317000668 - {'Audit Committee': 4, 'Audit Committee Outside Directors': 4}
Updated 00117188 - 효성 - 20250313001006 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}
Updated 01316236 - 효성화학 - 20250312001129 - {'Audit Committee': 3, 'Audit Committee Outside Directors': 3}

In [24]:
for idx, row in audit_targets_df.iterrows():
    corp_code = row['corp_code']
    company = row['company']
    rcept_no = str(row['rcept_no'])  # Ensure it's a string
    audit = row['url']

    try:
        subdocs = dart.sub_docs(rcept_no)

        match = subdocs[subdocs['title'].str.contains("이사회 등 회사의 기관에 관한 사항")]

        if not match.empty:
            print(f"{corp_code} - {company} - {rcept_no} - {audit}")
        else:
            print(f"{corp_code} - {company} - {rcept_no}: Governance section not found.")
    except Exception as e:
        print(f"{corp_code} - {company} - {rcept_no}: Error - {e}")

00219097 - BGF - 20250318001407 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001407&dcmNo=10425605&eleId=119&offset=3170425&length=89257&dtd=dart4.xsd
00303873 - CJ CGV - 20250321001474 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250321001474&dcmNo=10448443&eleId=112&offset=4292328&length=114906&dtd=dart4.xsd
00115694 - DB증권 - 20250317000605 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250317000605&dcmNo=10414192&eleId=38&offset=3871883&length=156053&dtd=dart4.xsd
00116949 - DN오토모티브 - 20250313001452 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250313001452&dcmNo=10405111&eleId=125&offset=3259998&length=68432&dtd=dart4.xsd
01437186 - ESR켄달스퀘어리츠 - 20241031000319 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20241031000319&dcmNo=10164914&eleId=42&offset=604202&length=34536&dtd=dart4.xsd
01568413 - F&F - 20250318001144 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001144&dcmNo=10423669&eleId=111&offset=2976222&length=77180&dtd=dart4.xsd
00500254 - GS - 20250318001410 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001410&dcmNo=10425621&eleId=115&offset=6905940&length=94311&dtd=dart4.xsd
01310269 - HDC현대산업개발 - 20250318000895 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318000895&dcmNo=10421789&eleId=116&offset=4804710&length=116364&dtd=dart4.xsd
00164830 - HD한국조선해양 - 20250318001131 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001131&dcmNo=10423569&eleId=134&offset=4657354&length=123329&dtd=dart4.xsd
01390344 - HD현대중공업 - 20250318000897 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318000897&dcmNo=10421816&eleId=137&offset=4229271&length=137893&dtd=dart4.xsd
01316254 - HS효성첨단소재 - 20250312001093 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250312001093&dcmNo=10398668&eleId=130&offset=3594366&length=138421&dtd=dart4.xsd
00101220 - KG케미칼 - 20250320001653 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250320001653&dcmNo=10441082&eleId=45&offset=2607800&length=55767&dtd=dart4.xsd
00139834 - LG씨엔에스 - 20250311001270 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250311001270&dcmNo=10393559&eleId=42&offset=2322877&length=106800&dtd=dart4.xsd
00503668 - LIG넥스원 - 20250321002001 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250321002001&dcmNo=10451575&eleId=112&offset=3269737&length=166107&dtd=dart4.xsd
00120182 - NH투자증권 - 20250313000770 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250313000770&dcmNo=10401847&eleId=38&offset=6657230&length=240525&dtd=dart4.xsd
00125150 - SGC에너지 - 20250312001090 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250312001090&dcmNo=10398650&eleId=130&offset=3868104&length=87662&dtd=dart4.xsd
01535150 - SK리츠 - 20240612000397 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20240612000397&dcmNo=9985570&eleId=98&offset=1726234&length=31974&dtd=dart4.xsd
00159023 - SK텔레콤 - 20250317000684 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250317000684&dcmNo=10414679&eleId=124&offset=4865094&length=248622&dtd=dart4.xsd
00225159 - SNT홀딩스 - 20250220001567 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250220001567&dcmNo=10324351&eleId=40&offset=1581807&length=38563&dtd=dart4.xsd
00255619 - 강원랜드 - 20250318001106 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001106&dcmNo=10423403&eleId=112&offset=2953502&length=162056&dtd=dart4.xsd
00102432 - 계룡건설산업 - 20250318001013 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001013&dcmNo=10422760&eleId=109&offset=3697956&length=118387&dtd=dart4.xsd
00113359 - 교보증권 - 20250313000901 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250313000901&dcmNo=10402468&eleId=38&offset=3874348&length=269484&dtd=dart4.xsd
00149646 - 기업은행 - 20250318001325 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001325&dcmNo=10424936&eleId=38&offset=6571513&length=151112&dtd=dart4.xsd
00108135 - 녹십자홀딩스 - 20250318001422 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001422&dcmNo=10425725&eleId=118&offset=4931390&length=55143&dtd=dart4.xsd
00108241 - 농심 - 20250312000711 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250312000711&dcmNo=10396510&eleId=120&offset=2932474&length=123982&dtd=dart4.xsd
00176914 - 다우기술 - 20250318001202 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001202&dcmNo=10424073&eleId=123&offset=7178302&length=86847&dtd=dart4.xsd
00121941 - 대상 - 20250321000555 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250321000555&dcmNo=10443690&eleId=110&offset=4475847&length=103814&dtd=dart4.xsd
00539274 - 대상홀딩스 - 20250319001086 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250319001086&dcmNo=10431359&eleId=101&offset=4010695&length=55650&dtd=dart4.xsd
00111810 - 대웅 - 20250401003907 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250401003907&dcmNo=10503501&eleId=117&offset=3367666&length=51221&dtd=dart4.xsd
00260383 - 대한유화 - 20250306000568 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250306000568&dcmNo=10381077&eleId=110&offset=2748023&length=60164&dtd=dart4.xsd
00114792 - 동국홀딩스 - 20250318001457 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001457&dcmNo=10426125&eleId=118&offset=4142215&length=91796&dtd=dart4.xsd
00340917 - 동원F&B - 20250318001158 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001158&dcmNo=10423781&eleId=122&offset=3461010&length=53997&dtd=dart4.xsd
00545716 - 롯데렌탈 - 20250314001522 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250314001522&dcmNo=10410440&eleId=112&offset=4493733&length=136360&dtd=dart4.xsd
01363818 - 롯데리츠 - 20240902000317 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20240902000317&dcmNo=10099614&eleId=61&offset=597636&length=34930&dtd=dart4.xsd
00113997 - 롯데에너지머티리얼즈 - 20250314001597 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250314001597&dcmNo=10410781&eleId=121&offset=3535914&length=84520&dtd=dart4.xsd
00195229 - 미스토홀딩스 - 20250321001837 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250321001837&dcmNo=10450360&eleId=114&offset=3250421&length=84553&dtd=dart4.xsd
00126308 - 삼성E&A - 20250312001103 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250312001103&dcmNo=10398746&eleId=110&offset=4238366&length=124287&dtd=dart4.xsd
00877059 - 삼성바이오로직스 - 20250306000580 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250306000580&dcmNo=10381134&eleId=108&offset=3606821&length=103058&dtd=dart4.xsd
00104856 - 삼성증권 - 20250306000628 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250306000628&dcmNo=10381022&eleId=38&offset=5267730&length=162849&dtd=dart4.xsd
00126937 - 삼양홀딩스 - 20250320000941 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250320000941&dcmNo=10436191&eleId=113&offset=3732267&length=90034&dtd=dart4.xsd
00112059 - 상상인증권 - 20250318001083 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001083&dcmNo=10423261&eleId=38&offset=1969313&length=157066&dtd=dart4.xsd
00106669 - 세아베스틸지주 - 20250318000465 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318000465&dcmNo=10418935&eleId=118&offset=3628869&length=122406&dtd=dart4.xsd
00124197 - 세아제강지주 - 20250317000708 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250317000708&dcmNo=10414843&eleId=111&offset=3029030&length=87275&dtd=dart4.xsd
00377610 - 세아홀딩스 - 20250314001645 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250314001645&dcmNo=10411042&eleId=118&offset=4003182&length=69041&dtd=dart4.xsd
00138701 - 아세아 - 20250312000788 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250312000788&dcmNo=10396863&eleId=40&offset=1705416&length=78385&dtd=dart4.xsd
00990165 - 아세아시멘트 - 20250320001240 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250320001240&dcmNo=10438357&eleId=125&offset=3147677&length=94163&dtd=dart4.xsd
00138792 - 아시아나항공 - 20250318000756 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318000756&dcmNo=10420769&eleId=114&offset=3543789&length=136201&dtd=dart4.xsd
00115977 - 아이에스동서 - 20250319001050 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250319001050&dcmNo=10431115&eleId=122&offset=4072966&length=103705&dtd=dart4.xsd
00854997 - 에스디바이오센서 - 20250318001095 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001095&dcmNo=10423349&eleId=114&offset=3078800&length=78588&dtd=dart4.xsd
00261443 - 엔씨소프트 - 20250328002285 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250328002285&dcmNo=10476486&eleId=119&offset=3408859&length=93587&dtd=dart4.xsd
00398701 - 엘앤에프 - 20250311001260 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250311001260&dcmNo=10393507&eleId=127&offset=3793162&length=133148&dtd=dart4.xsd
00140964 - 영원무역홀딩스 - 20250321001884 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250321001884&dcmNo=10450638&eleId=109&offset=3295149&length=97075&dtd=dart4.xsd
00117577 - 오리온홀딩스 - 20250318000980 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318000980&dcmNo=10422504&eleId=124&offset=3798982&length=103008&dtd=dart4.xsd
00131054 - 유진증권 - 20250318000789 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318000789&dcmNo=10421007&eleId=38&offset=2967448&length=134337&dtd=dart4.xsd
00145109 - 유한양행 - 20250312001137 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250312001137&dcmNo=10399039&eleId=108&offset=5730281&length=104854&dtd=dart4.xsd
01415892 - 제이알글로벌리츠 - 20240913000664 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20240913000664&dcmNo=10116557&eleId=40&offset=699006&length=38009&dtd=dart4.xsd
00148276 - 제일기획 - 20250311000974 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250311000974&dcmNo=10392216&eleId=111&offset=3411180&length=112220&dtd=dart4.xsd
00159698 - 지역난방공사 - 20250327000192 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250327000192&dcmNo=10464392&eleId=124&offset=3455045&length=152570&dtd=dart4.xsd
01133217 - 카카오뱅크 - 20250411001905 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250411001905&dcmNo=10586845&eleId=36&offset=1315486&length=290302&dtd=dart4.xsd
00113191 - 코리안리 - 20250331003380 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250331003380&dcmNo=10488193&eleId=40&offset=3520999&length=119583&dtd=dart4.xsd
00152862 - 코오롱 - 20250318001402 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001402&dcmNo=10425565&eleId=128&offset=7000118&length=94943&dtd=dart4.xsd
00203315 - 콘텐트리중앙 - 20250320001749 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250320001749&dcmNo=10441891&eleId=121&offset=4449365&length=56220&dtd=dart4.xsd
00153861 - 태영건설 - 20250319000934 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250319000934&dcmNo=10430286&eleId=135&offset=8513633&length=136314&dtd=dart4.xsd
00261285 - 한국가스공사 - 20250325000742 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250325000742&dcmNo=10457577&eleId=129&offset=8788917&length=116042&dtd=dart4.xsd
00939331 - 한국콜마 - 20250318001173 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001173&dcmNo=10423876&eleId=119&offset=3728671&length=104267&dtd=dart4.xsd
00937324 - 한국타이어앤테크놀로지 - 20250318001355 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001355&dcmNo=10425146&eleId=120&offset=4304952&length=132841&dtd=dart4.xsd
00161976 - 한세예스24홀딩스 - 20250318001443 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001443&dcmNo=10425977&eleId=113&offset=4000799&length=92865&dtd=dart4.xsd
00162063 - 한신공영 - 20250320000724 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250320000724&dcmNo=10434765&eleId=128&offset=4738312&length=70781&dtd=dart4.xsd
00162993 - 한일홀딩스 - 20250318001319 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001319&dcmNo=10424890&eleId=116&offset=3558111&length=55453&dtd=dart4.xsd
00983040 - 한진칼 - 20250318001316 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318001316&dcmNo=10424862&eleId=114&offset=3793048&length=169368&dtd=dart4.xsd
00113058 - 한화생명 - 20250331003702 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250331003702&dcmNo=10488883&eleId=40&offset=7360045&length=203611&dtd=dart4.xsd
00339391 - 한화시스템 - 20250314001773 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250314001773&dcmNo=10411685&eleId=119&offset=3814751&length=108284&dtd=dart4.xsd
00148610 - 한화투자증권 - 20250311001013 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250311001013&dcmNo=10392379&eleId=38&offset=4454840&length=187043&dtd=dart4.xsd
00164478 - 현대건설 - 20250312001136 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250312001136&dcmNo=10399030&eleId=122&offset=6215580&length=152371&dtd=dart4.xsd
00145880 - 현대제철 - 20250317000668 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250317000668&dcmNo=10414585&eleId=126&offset=3951629&length=92937&dtd=dart4.xsd
00117188 - 효성 - 20250313001006 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250313001006&dcmNo=10402878&eleId=126&offset=5063362&length=131768&dtd=dart4.xsd
01316236 - 효성화학 - 20250312001129 - http://dart.fss.or.kr/report/viewer.do?rcpNo=20250312001129&dcmNo=10398935&eleId=122&offset=4288645&length=146592&dtd=dart4.xsd

In [33]:
filtered_df = summary_df_updated[summary_df_updated['Corp Code'] == '00219097']
filtered_df

,Company,Corp Code,Disclosure,Audit Committee,Audit Committee Outside Directors,Inside Directors,Outside Directors,Other Non Exec Directors,Auditors,Female Voting,Male Voting,Voting Directors,Non Registered,Disclosure Date,Total Assets
2,BGF,00219097,20250318001407,0,0,2,2,0,1,0,4,4,0,2025-03-18,2171266453121

In [34]:
filtered_df = exec_df_updated[exec_df_updated['Corp Code'] == '00219097']
filtered_df

,Disclosure,Corp Code,Company,Name,Gender,Position,Registered Officer Status,Responsibilities,Professional Background,Shareholder Relation,Period of employment,industry_code,is_audit_committee_member,is_auditor
353,20250318001407,00219097,BGF,홍정국,남,부회장,사내이사,대표이사\n\n사외이사후보 \n추천위원회,·美스탠포드대학교 경제학과 졸업·美스탠포드대학교 산업공학 석사·美와튼 경영대학원(M...,최대주주의 자/임원,11년\n7개월,64992,False,False
354,20250318001407,00219097,BGF,류철한,남,전무,사내이사,재경담당\n\n내부거래위원회,·동국대학교 무역학과 졸업·舊비지에프리테일 재무팀장 ...,임원,32년\n1개월,64992,False,False
355,20250318001407,00219097,BGF,성영훈,남,이사,사외이사,자문역\n\n내부거래위원회\n\n사외이사후보\n추천위원회,·연세대학교 법학과 졸업\n·연세대학교 법과대학원 석사\n·연세대학교 법과대학원 박...,임원,4년\n10개월,64992,False,False
356,20250318001407,00219097,BGF,김봉환,남,이사,사외이사,자문역\n\n내부거래위원회\n\n사외이사후보\n추천위원회,·서울대학교 경제학과 졸업\n·미시건대학 경영학과(MBA) 졸업\n·워싱턴대학 경영...,임원,1년\n10개월,64992,False,False
357,20250318001407,00219097,BGF,전 홍,남,감사,감사,감사,·서울대학교 경영학과 졸업\n·서울대학교 회계학 석사\n·삼일회계법인\n·비지에프리...,임원,5년\n10개월,64992,False,True

In [64]:
exec_df_updated.to_csv('exec_df_updated', index = False)

In [65]:
second_flag = check_governance_compliance(summary_df_updated)

In [68]:
filtered_df = exec_df_updated[exec_df_updated['Corp Code'] == '00860730']
filtered_df

,Disclosure,Corp Code,Company,Name,Gender,Position,Registered Officer Status,Responsibilities,Professional Background,Shareholder Relation,Period of employment,industry_code,is_audit_committee_member,is_auditor
7,20250314000900,00860730,에이리츠,김종국,남,대표이사,사내이사,총괄,- KB투자증권\n- 유진투자증권 \n- 삼성증권\n- 한국공인회계사,본인,2010.11~현재,68121,False,False
8,20250314000900,00860730,에이리츠,김춘희,여,사내이사,사내이사,경영,- 유진투자증권\n- 하이투자증권\n- 교보증권,-,2011.01~현재,68121,False,False
9,20250314000900,00860730,에이리츠,임일수,남,사외이사,사외이사,-,- 한화투자증권 대표이사\n- 푸르덴셜투자증권 대표이사,-,2018.03~현재,68121,False,False
10,20250314000900,00860730,에이리츠,김기태,남,사외이사,사외이사,-,- 現)시리우스 인베스트먼트 대표이사\n- 화천종합기획실 부사장\n- (주)알피바이...,-,2018.11~현재,68121,False,False
11,20250314000900,00860730,에이리츠,김홍구,남,감사,감사,-,- 現) 롯데관광개발 감사\n- 오성회계법인 대표\n- 윈즈회계사무소 운영\n- 한...,-,2019.03~현재,68121,False,False
12,20250314000900,00860730,에이리츠,우성민,남,상무,미등기,준법\n 감시인,- 벨에포크자산운용\n- IBK 투자증권\n- 삼성증권,-,2020.02~현재,68121,False,False
13,20250314000900,00860730,에이리츠,황성재,남,상무,미등기,투자사업\n 본부장,- 현대BS&C- 호야씨앤티- 학운산업개발- 세중아이앤디\n- 호야건설,-,2022.02~현재,68121,False,False

In [17]:
summary_df_updated = pd.read_csv('summary_df_updated')
summary_df_updated

,Company,Corp Code,Disclosure,Audit Committee,Audit Committee Outside Directors,Inside Directors,Outside Directors,Other Non Exec Directors,Auditors,Female Voting,Male Voting,Voting Directors,Non Registered,Disclosure Date,Total Assets
0,디씨엠,177199,20250718000228,0,0,3,1,0,0,0,4,4,8,2025-07-18,2.776427e+11
1,신도리코,135795,20250715000025,3,3,2,3,0,0,0,5,5,5,2025-07-15,1.078783e+12
2,조선선재,796994,20250715000164,3,3,1,3,0,0,0,4,4,0,2025-07-15,1.555382e+11
3,한일철강,163196,20250715000144,0,0,3,1,0,1,2,2,4,9,2025-07-15,3.310290e+11
4,우진아이엔에스,143262,20250711000031,0,0,2,2,0,1,0,4,4,7,2025-07-11,1.134977e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,오리엔트바이오,141626,20240620000211,0,0,3,1,0,1,1,3,4,5,2024-06-20,8.105022e+10
841,동원금속,118008,20240619000177,0,0,3,3,0,0,0,6,6,20,2024-06-19,4.878675e+11
842,대동전자,157104,20240618000424,3,3,2,3,0,0,0,5,5,0,2024-06-18,2.511756e+11
843,기신정기,106614,20240613000239,0,0,3,1,0,2,0,4,4,3,2024-06-13,2.651461e+11
844,신영증권,136721,20240612000337,3,3,2,3,0,2,0,5,5,30,2024-06-12,NaN

In [ ]:
# TODO

# to do: correct to cover the below cases or ammend the changes

# update summary_df in full and save as updated csv 

# correct comments andd sectioning

# work on individual_df

In [ ]:
'''
Undercounted: 
00159698 - 지역난방공사 - 20250327000192 - 2
00261285 - 한국가스공사 - 20250325000742 - 2
00255619 - 강원랜드 - 20250318001106 - 2

Counts 2 when there are none: 
00195229 - 미스토홀딩스 - 20250321001837 - 2: 
'''

In [24]:
rcept_no = "20250312001136"  # Make sure it's a string

# Fetch sub-document metadata as a DataFrame
subdocs = dart.sub_docs(rcept_no)

# Search for the subdocument titled "이사회 등 회사의 기관에 관한 사항"
match = subdocs[subdocs['title'].str.contains("이사회 등 회사의 기관에 관한 사항")]

if not match.empty:
    print("Governance section URL:", match.iloc[0]["url"])
else:
    print("Governance section not found.")

Governance section URL: http://dart.fss.or.kr/report/viewer.do?rcpNo=20250312001136&dcmNo=10399030&eleId=122&offset=6215580&length=152371&dtd=dart4.xsd

In [ ]:
rcept_no = "20250328002285"  # Make sure it's a string

# Fetch sub-document metadata as a DataFrame
subdocs = dart.sub_docs(rcept_no)

# Search for the subdocument titled "이사회 등 회사의 기관에 관한 사항"
match = subdocs[subdocs['title'].str.contains("이사회 등 회사의 기관에 관한 사항")]

if not match.empty:
    print("Governance section URL:", match.iloc[0]["url"])
else:
    print("Governance section not found.")

In [101]:
summary_df_updated.to_csv('summary_df_updated', index=False)

In [ ]:
summary_df_updated

,Company,Corp Code,Disclosure,Audit Committee,Audit Committee Outside Directors,Inside Directors,Outside Directors,Other Non Exec Directors,Auditors,Female Voting,Male Voting,Voting Directors,Non Registered,Disclosure Date,Total Assets
0,디씨엠,00177199,20250718000228,0,0,3,1,0,0,0,4,4,8,2025-07-18,277642743004
1,신도리코,00135795,20250715000025,3,3,2,3,0,0,0,5,5,5,2025-07-15,1078782998517
2,조선선재,00796994,20250715000164,3,3,1,3,0,0,0,4,4,0,2025-07-15,155538184310
3,한일철강,00163196,20250715000144,0,0,3,1,0,1,2,2,4,9,2025-07-15,331028995726
4,우진아이엔에스,00143262,20250711000031,0,0,2,2,0,1,0,4,4,7,2025-07-11,113497686732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,오리엔트바이오,00141626,20240620000211,0,0,3,1,0,1,1,3,4,5,2024-06-20,81050220067
841,동원금속,00118008,20240619000177,0,0,3,3,0,0,0,6,6,20,2024-06-19,487867520934
842,대동전자,00157104,20240618000424,3,3,2,3,0,0,0,5,5,0,2024-06-18,251175551401
843,기신정기,00106614,20240613000239,0,0,3,1,0,2,0,4,4,3,2024-06-13,265146139041
844,신영증권,00136721,20240612000337,3,3,2,3,0,2,0,5,5,30,2024-06-12,<NA>

SECTION 3: Checks on Grouped Company Data

OVERVIEW
1. Overlap: check that there are no overlapping cases where an executive is both an audit committee member AND auditor. 
    t/f check
2. Assets: For each company, parse through their financial statements to see if their assets > $2T KRW threshold and are subject to a mandatory audit committee.
    800 API requests, ~8 min to run assets call
    assets appeneded to summary_df
3. Governance Check 1: 
    For All Corporations:
    - outside directors make up >= 1/4 voting directors 
    For required audit committees: 
    - audit committee > 3
    - outside directors >= 2/3 audit committee 
4. Governance Check 2: 
    For each flagged case, go through a more rigourous check for false negatives and correct any excluded information.

RESOURCES 
Retrieve Total Assets from OPENDART
    OPENDART Financial Statement Documentation: https://engopendart.fss.or.kr/guide/detail.do?apiGrpCd=DE003&apiId=AE00033
    Dart Package Documentation: https://nbviewer.org/github/FinanceData/OpenDartReader/blob/master/docs/OpenDartReader_reference_manual.ipynb 


USAGE 
Update dart.finstate() bsns_year and reprt_code
- First Quarterly Report : 11013
- Semi-annual Report : 11012
- Third Quarterly Report : 11014
- Annual Report : 11011
Validate flagged governance cases

In [254]:
# check for overlapping cases of audit committee member and auditor 

overlap_cases = exec_df[(exec_df['is_audit_committee_member'] == True) & (exec_df['is_auditor'] == True)]

if not overlap_cases.empty:
    print("WARNING: Found instances where an individual is both an audit committee member and an exclusive auditor:")
    print(overlap_cases[['Name', 'Responsibilities', 'Position', 'is_audit_committee_member', 'is_auditor']])
else:
    print("No instances found where an individual is both an audit committee member and an exclusive auditor. The logic for non-overlap is working as expected.")

No instances found where an individual is both an audit committee member and an exclusive auditor. The logic for non-overlap is working as expected.

In [ ]:
# 195229	Audit Committee Outside Directors (0) < 2/3 of...	미스토홀딩스	20250321001837 
# audit committee = 3 when none exists

# Counts Under: 
''' 
20250318000895
20250311001270
20250313000901	
20250318000465
20250318000789
20250327000192
20250331003380
'''

# Correct Under 3 
''' 
20250313000770
20250314001522	
20250306000580 
'''

In [ ]:
# 0 Audit Committee Errors: 

# Different formatting of audit committe table: 20250318000789
'''   
http://dart.fss.or.kr/report/viewer.do?rcpNo=20250318000789&dcmNo=10421007&eleId=38&offset=2967448&length=134337&dtd=dart4.xsd 


성 명	주 요 경 력	    비 고
Name                   사외이사 Outside Director  
'''

'   \nhttp://dart.fss.or.kr/report/viewer.do?rcpNo=20250318000789&dcmNo=10421007&eleId=38&offset=2967448&length=134337&dtd=dart4.xsd \n\n\n성 명\t주 요 경 력\t    비 고\nName                   사외이사 Outside Director  \n'

SECTION 4: Fix Governance Check
Read in additional disclosure file to cross check false negatives that were flagged by the initial governance check 

Take in these columns to update outside director and audit committee member counts:
    'Category': 
        Registered director(Outside director, excluding members of the audit committee) -> excludes outside directors and audit committee members 
        Outside director (excluding members of the audit committee)
        Member of the audit committee or auditor 
        Auditor 
    'Headcount' 

To get audit committee: Member of the audit committee or auditor  - Auditor
To get outside directors in audit committee: Member of the audit committee or auditor - summary_df[outside directors] - outside director

In [129]:
summary_df.to_csv('by_corp_df', index = False)

Building individual_df

In [ ]:
# BEFORE RUNNING: open the parsing notebook and run
# if run correctly, it will read in the exec_df file and save regex_parsed_df,
# a data frame of individual entries where their professional background has been parsed

regex_parsed_df = pd.read_csv('regex_parsed_df.csv')
exec_df = exec_df.reset_index(drop=True)
exec_df = pd.concat([exec_df, regex_parsed_df.drop(columns=['user_id'])], axis=1)
exec_df.to_csv('exec_df')

In [ ]:
exec_df = pd.read_csv('exec_df')
exec_df = exec_df.drop('Unnamed: 0', axis = 1)
exec_df['Responsibilities'] = exec_df['Responsibilities'].str.replace('\n', ', ')

In [135]:
by_corp_df = pd.read_csv('by_corp_df')

In [137]:
by_corp_df

,corp_code,Name of company,Item code,Audit Committee,Audit Committee Outside Directors,Voting Directors,Inside Directors,Outside Directors,Other Non Exec Directors,Female Voting,Male Voting,Non Registered,total_assets,compliance_flag
0,684802,A Plus Asset Advisor,244920,3,3,7,2,3,2,0,7,0,4.792762e+11,Pass
1,860730,A SELF-ADMINISTERED REAL ESTATE INVESTMENT TRUST,140910,0,0,4,2,2,0,1,3,3,8.288426e+10,Pass
2,400857,ABLE C&C,78520,3,3,8,0,3,4,3,5,0,1.590859e+11,Pass
3,936787,AEKYUNG CHEMICAL,161000,0,0,8,4,3,1,2,6,8,1.356432e+12,Pass
4,365387,AJ Networks,95570,0,0,6,3,2,1,0,6,11,1.717770e+12,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,878915,iM Financial Group,139130,8,8,9,1,8,0,2,7,8,1.279968e+12,Pass
808,360142,iMarketKorea,122900,0,3,7,3,3,1,0,7,10,4.414712e+12,No Audit Committee listed
809,1244601,kakaopay,377300,3,3,6,1,4,1,1,5,10,4.350661e+11,Pass
810,372882,ktcs corporation,58850,3,3,7,2,3,2,2,5,0,4.699321e+11,Pass
811,372873,ktis Corporation,58860,3,3,7,2,3,2,2,5,11,NaN,Pass